<% if user_signed_in? %>
  <div class="marquee">
    <p>Fonda Gaby</p>
    <p>Bienvenido <%= current_user.name%> <%= current_user.lastname%></p>
  </div>
<% else %>
  <div class="marquee">
    <p>Fonda Gaby</p>
    <p>Por Favor Inicia Sesión</p>
  </div>
<% end %>

<div id="slider">
  <div><%= image_tag "img1.jpg", :alt => "Imágen 1", :title => "Imágen 1", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img2.jpg", :alt => "Imágen 2", :title => "Imágen 2", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img3.jpg", :alt => "Imágen 3", :title => "Imágen 3", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img4.jpg", :alt => "Imágen 4", :title => "Imágen 4", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img5.jpg", :alt => "Imágen 5", :title => "Imágen 5", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img6.jpg", :alt => "Imágen 6", :title => "Imágen 6", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img7.jpg", :alt => "Imágen 7", :title => "Imágen 7", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img8.jpg", :alt => "Imágen 8", :title => "Imágen 8", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img9.jpg", :alt => "Imágen 9", :title => "Imágen 9", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img10.jpg", :alt => "Imágen 10", :title => "Imágen 10", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img11.jpg", :alt => "Imágen 11", :title => "Imágen 11", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img12.jpg", :alt => "Imágen 12", :title => "Imágen 12", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img13.jpg", :alt => "Imágen 13", :title => "Imágen 13", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img14.jpg", :alt => "Imágen 14", :title => "Imágen 14", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img15.jpg", :alt => "Imágen 15", :title => "Imágen 15", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img16.jpg", :alt => "Imágen 16", :title => "Imágen 16", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img17.jpg", :alt => "Imágen 17", :title => "Imágen 17", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img18.jpg", :alt => "Imágen 18", :title => "Imágen 18", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img19.jpg", :alt => "Imágen 19", :title => "Imágen 19", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img20.jpg", :alt => "Imágen 20", :title => "Imágen 20", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img21.jpg", :alt => "Imágen 21", :title => "Imágen 21", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img22.jpg", :alt => "Imágen 22", :title => "Imágen 22", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img23.jpg", :alt => "Imágen 23", :title => "Imágen 23", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img24.jpg", :alt => "Imágen 24", :title => "Imágen 24", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img25.jpg", :alt => "Imágen 25", :title => "Imágen 25", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img26.jpg", :alt => "Imágen 26", :title => "Imágen 26", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img27.jpg", :alt => "Imágen 27", :title => "Imágen 27", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img28.jpg", :alt => "Imágen 28", :title => "Imágen 28", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img29.jpg", :alt => "Imágen 29", :title => "Imágen 29", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img30.jpg", :alt => "Imágen 30", :title => "Imágen 30", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img31.jpg", :alt => "Imágen 31", :title => "Imágen 31", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img32.jpg", :alt => "Imágen 32", :title => "Imágen 32", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img33.jpg", :alt => "Imágen 33", :title => "Imágen 33", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img34.jpg", :alt => "Imágen 34", :title => "Imágen 34", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img35.jpg", :alt => "Imágen 35", :title => "Imágen 35", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img36.jpg", :alt => "Imágen 36", :title => "Imágen 36", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img37.jpg", :alt => "Imágen 37", :title => "Imágen 37", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img38.jpg", :alt => "Imágen 38", :title => "Imágen 38", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img39.jpg", :alt => "Imágen 39", :title => "Imágen 39", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img40.jpg", :alt => "Imágen 40", :title => "Imágen 40", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img41.jpg", :alt => "Imágen 41", :title => "Imágen 41", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img42.jpg", :alt => "Imágen 42", :title => "Imágen 42", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img43.jpg", :alt => "Imágen 43", :title => "Imágen 43", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img44.jpg", :alt => "Imágen 44", :title => "Imágen 44", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img45.jpg", :alt => "Imágen 45", :title => "Imágen 45", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img46.jpg", :alt => "Imágen 46", :title => "Imágen 46", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img47.jpg", :alt => "Imágen 47", :title => "Imágen 47", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img48.jpg", :alt => "Imágen 48", :title => "Imágen 48", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img49.jpg", :alt => "Imágen 49", :title => "Imágen 49", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img50.jpg", :alt => "Imágen 50", :title => "Imágen 50", :class => "img-responsive", :style => "height: 400px;"%></div>
  <div><%= image_tag "img51.jpg", :alt => "Imágen 51", :title => "Imágen 51", :class => "img-responsive", :style => "height: 400px;"%></div>
</div>