<div class="marquee">
  <p>Fonda Gaby</p>
  <p>Listado De Pedidos</p>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Listado De Pedidos</h3>
  </div>

  <div class="panel-body">
    <p class="notice alert alert-success" role="alert"><%= notice %></p>
    <% if Pedido.exists? %>
    <div class="input-group">
      <span class="input-group-addon icon icon-search"></span>
      <input type="search" class="form-control" placeholder="Buscador" id="searchTerm" onkeyup="doSearch()">
    </div>
    <div class="table-responsive">
      <table class="table table-hover" id="dataTable">
        <thead>
          <tr>
            <th style="text-align: center;">Nombre del Cliente</th>
            <th style="text-align: center;">Apellido Paterno</th>
            <th style="text-align: center;">Apellido Materno</th>
            <th style="text-align: center;">Fecha</th>
            <th style="text-align: center;">Hora</th>
            <th style="text-align: center;">Dirección</th>
            <th style="text-align: center;">Teléfono</th>
            <th style="text-align: center;">Empleado</th>
            <th colspan="3" style="text-align: center;">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @pedidos.each do |pedido| %>
            <tr>
              <td style="text-align: center;"><%= pedido.nombre_cliente %></td>
              <td style="text-align: center;"><%= pedido.apellido_paterno %></td>
              <td style="text-align: center;"><%= pedido.apellido_materno %></td>
              <td style="text-align: center;"><%= pedido.fecha %></td>
              <td style="text-align: center;"><%= pedido.hora %></td>
              <td style="text-align: center;"><%= pedido.direccion %></td>
              <td style="text-align: center;"><%= pedido.telefono %></td>
              <td style="text-align: center;"><%= pedido.usuario_fk %></td>
              <td style="text-align: center;"><%= link_to '', pedido, class: 'btn btn-info icon icon-eye', style: "color: white", :title => 'Mostrar Datos Del Pedido' %></td>
              <td style="text-align: center;"><%= link_to '', edit_pedido_path(pedido),  class: 'btn btn-success icon icon-pencil2', style: "color: white", :title => 'Editar Pedido'  %></td>
              <td style="text-align: center;"><%= link_to '', pedido, method: :delete, data: { confirm: '¿Estas Seguro?' }, class: 'btn btn-danger icon icon-bin', style: "color: white", :title => 'Eliminar Pedido' %></td>

              <% if PlatilloPedido.exists?(:pedido=>pedido) %>
                <td style="..."><%= link_to '', platillo_pedidos_path, class: 'btn btn-warning icon icon-file-text', style: "color: white", :title => 'Detalle Del Pedido' %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <hr>
        <%= will_paginate @usuarios, renderer: BootstrapPagination::Rails %>
      <hr>

      <%= link_to '', new_pedido_path, class: 'btn btn-primary icon icon-plus', style: "color: white;", :title => 'Agregar Pedido' %>
    </div>
    <% else %>
        <%= link_to '', new_pedido_path, class: 'btn btn-primary icon icon-plus', style: "color: white;", :title => 'Agregar Pedido' %>
        <h1 style="text-align: center;">No Existen Registros</h1>
        <h4 style="text-align: center;">Para Agregar Pedidos Da Click En El Botón <i class="icon icon-plus"></i></h4>
    <% end %>
  </div>
</div>