<!DOCTYPE html>
<html>
<head>
  <title>Fonda</title>
  <link rel="shortcut icon" href="/assets/gorro.png">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- jQuery library (served from Google) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body style="background: url('/assets/food.png');">
  <%= render 'comunes/menu'%>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>